<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @sprint.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @sprint.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @sprint.end_time %>
</p>

<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
